<% Globalize.locale.to_s=="ru" ? is_ru = true : is_ru = false %>

<div class="wrap-stat-login">
	<div id="welcome">
	<div id="error_explanation_wrap"><%= devise_error_messages! %></div>
		<div id="transparent_login">
			<div id="form_login">
				<div id="login_hat" class="passrecover<%= "_e" if !is_ru %>"></div>
				<div id="login_body">
					<!-- <p class="notice"><%#= notice %></p> <p class="alert"><%#= alert %></p> -->
					<%#= form_for resource, :as => resource_name, :url => refinery.client_password_path(resource), :html => { :method => :put } do |f| %>
					<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
					<%= f.hidden_field :reset_password_token %>

						<div class="login_field">
							<%= f.label :password, is_ru ? "Новый пароль:" : "New password" %><br />
	  						<%= f.password_field :password, :autofocus => true, class: "text_field" %>
	  					</div>

	  					<div class="login_field">
							<%= f.label :password_confirmation, is_ru ? "Подтвердите пароль:" : "Confirm" %><br />
	  						<%= f.password_field :password_confirmation, :autofocus => true, class: "text_field" %>
	  					</div>

				    		<div class="login_field">
				    			<div class="btn">
				    				<%= f.submit "Change the password", :type=>'image', :src=>is_ru ? '/assets/change_btn.png' : '/assets/change_btn_e.png' %>
				    			</div>
				    		</div>
					<% end %>
			    		
			    		<div class="login_field">
			    			<div class="registration">
			    				<%= link_to 'Регистрация', refinery.new_client_registration_path %>
			    				<span><%= image_tag('user-icon.png')%></span>
			    			</div>
			    		</div>
			    		<div class="login_field">
			    			<div class="registration">
			    				<%= link_to is_ru ? 'Войти' : 'Sign in', refinery.new_client_session_path %>	
			    			</div>
			    		</div>
				</div>
			</div>
		</div>
	</div>
</div>