<% Globalize.locale.to_s=="ru" ? is_ru = true : is_ru = false %>

<div class="wrap-stat-login">
  <div id="welcome">
  <div id="error_explanation_wrap"><%= devise_error_messages! %></div>
    <div id="transparent_login">
      <div id="form_login">
        <div id="login_hat" class="registration<%= "_e" if !is_ru %>"></div>
        <div id="login_body">
          <!-- <p class="notice"><%#= notice %></p> <p class="alert"><%#= alert %></p> -->
          <%= form_for(resource, :as => resource_name, :url => refinery.client_registration_path, :html => { :method => :put }) do |f| %>

            <div class="login_field">
              <%= f.label :password, is_ru ? "Новый пароль:" : "New password:" %><br />
              <%= f.password_field :password, :autocomplete => "off", :class=>'text_field' %><br />
            </div>

            <div class="login_field">
              <%= f.label :password_confirmation, is_ru ? "Повторите:" : "Confirm:" %><br />
              <%= f.password_field :password_confirmation, :class=>'text_field' %><br />
            </div>

            <div class="login_field">
              <%= f.label :current_password, is_ru ? "Старый пароль:" : "Old password:" %><br />
              <%= f.password_field :current_password, :class=>'text_field' %><br />
            </div>

            <div class="login_field">
              <div class="btn">
                <%= f.submit "Update", :type=>'image', :src=>is_ru ? '/assets/upd_registration_btn.png' : '/assets/upd_registration_btn_e.png' %>
              </div>
            </div>

            <% end %>
            
            <div class="login_field">
              <%= link_to is_ru ? "Назад" : "Back", :back %>
            </div>


        </div>
      </div>
    </div>
  </div>
</div>