<% Globalize.locale.to_s=="ru" ? is_ru = true : is_ru = false %>

<div class="wrap-stat-login">
  <div id="welcome">
  <div id="error_explanation_wrap"><%= devise_error_messages! %></div>
    <div id="transparent_login">
      <div id="form_login">
        <div id="login_hat" class="registration<%= "_e" if !is_ru %>"></div>
        <div id="login_body">
          <!-- <p class="notice"><%#= notice %></p> <p class="alert"><%#= alert %></p> -->
          <%= form_for resource, :as => resource_name, :url => refinery.client_registration_path do |f| %>
            <div class="login_field">
              <%= f.label :email %><br />
              <%= f.email_field :email, :class=>'text_field', :autofocus => true %>
            </div>

            <!--  -->
            <div class="login_field">
              <%= f.label :name, is_ru ? "ФИО" : "Name:" %><br />
              <%= f.text_field :name, :class=>'text_field' %>
            </div>
            <div class="login_field">
              <%= f.label :company, is_ru ? "Компания:" : "Company name:" %><br />
              <%= f.text_field :company, :class=>'text_field' %>
            </div>
            <div class="login_field">
              <%= f.label :job, is_ru ? "Должность:" : "Job:" %><br />
              <%= f.text_field :job, :class=>'text_field' %>
            </div>
            <div class="login_field">
              <%= f.label :phone, is_ru ? "Телефон:" : "Phone:" %><br />
              <%= f.text_field :phone, :class=>'text_field' %>
            </div>
            <!--  -->

            <div class="login_field">
              <%= f.label :password, is_ru ? "Пароль:" : "Password:" %><br />
              <%= f.password_field :password, :class=>'text_field' %>
            </div>
            <div class="login_field">
              <%= f.label :password_confirmation, is_ru ? "Подтвердите пароль:" : "Confirm password:" %><br />
              <%= f.password_field :password_confirmation, :class=>'text_field' %>
            </div>
            <div class="login_field">
              <%= f.check_box :mail_me %><%= f.label :mail_me, is_ru ? "Подписаться на новости" : "Send me news" %><br />
              <%= is_ru ? "Пользовательское соглашение" : "Пользовательское соглашение" %>
              <%#= f.label :usage, "Пользовательское соглашение" %><%#= f.check_box :usage %>
            </div>
            <div class="login_field">
              <label style="display: block; height:9px; font-weight:bold;"><%=  is_ru ? "Подтвердите, что вы не робот:" : "Are you human?:" %></label><br />
              <%#= raw Raptcha.input %>
              <%= recaptcha_tags %>
            </div>
            <div class="login_field">
              <div class="btn">
                <%= f.submit "Sign up", :type=>'image', :src=>is_ru ? '/assets/signup_btn.png' : '/assets/signup_btn_e.png', :data => { :confirm => is_ru ? 'На вашу почту сейчас отправится письмо с инструкцией по активации вашего доступа. Проверьте свою почту.' : 'Now instructions will send to your email. Check out your mailbox.' } %>
              </div>
            </div>
          <% end %>
<!--           <div class="login_field">
              <div class="btn">
                <%= link_to is_ru ? "Уже зарегистрированы?:" : "Sign in", refinery.new_client_session_path %>
              </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>