<div id="filemanager">
  <div class="filemanager">
  	<div class="closemanager">Закрыть</div>
  	<%= form_for @fileholder, url: clients_uploadfile_path, :html => { :multipart => true }, :remote => true do |form| %>
  	  <%= form.hidden_field :attachment_id, :value => @attach.id %>
  	  <%= form.label :doc, "Загрузить файлы", :class => "ajaxuploadlabel" %>
  	  <%= form.file_field :doc, :multiple => true, :name => "doc[doc]" , :style=>"display:none" %>
  	<% end %>
  	<ul id="fileprws">
  		<%= render "refinery/clients/upload/collectfileprw", attach: @attach if @attach.docs.any? %>
  	</ul>
  </div>
</div>