<% Globalize.locale.to_s=="ru" ? is_ru = true : is_ru = false %>

<div class="wrap-stat-login">
	<div id="welcome">
	<div id="error_explanation_wrap"><%= devise_error_messages! %></div>
		<div id="transparent_login">
			<div id="form_login">
				<div id="login_hat<%= "_e" if !is_ru %>"></div>
				<div id="login_body">
					<!-- <p class="notice"><%#= notice %></p> <p class="alert"><%#= alert %></p> -->
					<%= form_for resource, :as => resource_name, :url => refinery.client_session_path do |f| %>
						<div class="login_field">
							<%= f.label :email, "Email:" %><br />
							<%= f.email_field :email, :class=>'text_field', :autofocus => true %>
				    		</div>

				    		<div class="login_field">
							<div style="width:50%; text-align:left; float:left;">
								<%= f.label :password, is_ru ? "Пароль:" : "Password:" %>
							</div>
							<div style="width:50%; text-align:right; float:left;">
								<%= link_to is_ru ? "Забыли пароль?" : "Forgot your password?", refinery.new_client_password_path %>
							</div><br />
							<%= f.password_field :password, :class=>'text_field' %>
							<% if devise_mapping.rememberable? -%>
								<div><%= f.check_box :remember_me %> <%= f.label :remember_me, is_ru ? "Запомнить меня" : "Remember me" %></div>
							<% end -%>
				    		</div>
				    		<div class="login_field">
			      			<div class="btn">
			      				<%= f.submit "Sign in", :type=>'image', :src=>is_ru ? "/assets/login_btn.png" : "/assets/login_btn_e.png" %>
			      			</div>
				    		</div>
			    		<% end %>
			    		
			    		<div class="login_field">
			    			<div class="registration">
			    				<%= link_to is_ru ? "Регистрация" : "Registration", refinery.new_client_registration_path %>
			    				<span><%= image_tag('user-icon.png')%></span>
			    			</div>
			    		</div>
				</div>
			</div>
		</div>
	</div>
</div>