<div class="wide_white">
	<div class="wrap">
		<span class="slogan">MARINERUS. MAIN ACTIVITY.</span>
		<div id="circles_wrap">
			<div class="circle_container">
				<%= image_tag(asset_path("about_01.png")) %><br />
				<div class="circle_label">
					Broker services in sale, purchase and <br />
					chartering of sea and river fleet, <br />
					shore infrastructure and water transport facility.
				</div>
			</div>
			<div class="circle_container">
				<%= image_tag(asset_path("about_02.png")) %><br />
				<div class="circle_label">
					Ships condition survey. <br />
					Transfer of vessels, boats and yachts.
				</div>
			</div>
			<div class="circle_container">
				<%= image_tag(asset_path("about_03.png")) %><br />
				<div class="circle_label">
					Consulting activity.
				</div>
			</div>
		</div>
	</div>
</div>
<div class="wide_grey">
	<div class="wrap">
		<div class="about_image"><%= image_tag(asset_path("about_ship.jpg")) %></div>
		<span class="slogan">Брокерские услуги по продаже, покупке и фрахтованию<br />морского и речного флота</span>
		<div class="text_wrap">
			<div class="text_block" style="margin-right: 20px;">
				Уважаемые господа, компания МАРИНЕРУС работает только с прямыми владельцами и непосредственными покупателями судов. <br />Судовладельцам мы готовы оказать содействие в реализации флота и если Вы желаете выставить своё судно на продажу, просим связаться с нами по телефонам или по адресу электронной почты указанной в разделе Контакты.
			</div>
			<div class="text_block" style="margin-right: 20px;">
				Покупателей заинтересованных в судах, предложенных на нашем сайте, просим прислать официальный запрос, с указанием реквизитов компании, фамилии и должности лиц, ответственных за покупку и контактную информацию. Если Вы не нашли на нашем сайте флот необходимый для покупки, можете прислать нам заявку с характеристиками требуемого судна и мы 
			</div>
			<div class="text_block">
				поможем в его поиске и приобретении.<br />Представителям банков и оценочных организаций мы окажем возмездное содействие в услуге по оценке флота.
			</div>
		</div>
	</div>
</div>
<div class="wide_white">
	<div class="wrap">
		<div class="about_image"><%= image_tag(asset_path("putya.jpg")) %></div>
		<span class="slogan">Инспектирование и оценка флота</span>
		<div class="text_wrap">
			<div class="text_block" style="margin-right: 20px;">
				Уважаемые господа, компания МАРИНЕРУС работает только с прямыми владельцами и непосредственными покупателями судов. <br />Судовладельцам мы готовы оказать содействие в реализации флота и если Вы желаете выставить своё судно на продажу, просим связаться с нами по телефонам или по адресу электронной почты указанной в разделе Контакты.
			</div>
			<div class="text_block" style="margin-right: 20px;">
				Покупателей заинтересованных в судах, предложенных на нашем сайте, просим прислать официальный запрос, с указанием реквизитов компании, фамилии и должности лиц, ответственных за покупку и контактную информацию. Если Вы не нашли на нашем сайте флот необходимый для покупки, можете прислать нам заявку с характеристиками требуемого судна и мы 
			</div>
			<div class="text_block">
				поможем в его поиске и приобретении.<br />Представителям банков и оценочных организаций мы окажем возмездное содействие в услуге по оценке флота.
			</div>
		</div>
	</div>
</div>
<div class="wide_grey">
	<div class="wrap">
		<div class="about_image"><%= image_tag(asset_path("about_men.jpg")) %></div>
		<span class="slogan">Консалтинговые услуги</span>
		<div class="text_wrap">
			<div class="text_block" style="margin-right: 20px;">
				Уважаемые господа, компания МАРИНЕРУС работает только с прямыми владельцами и непосредственными покупателями судов. <br />Судовладельцам мы готовы оказать содействие в реализации флота и если Вы желаете выставить своё судно на продажу, просим связаться с нами по телефонам или по адресу электронной почты указанной в разделе Контакты.
			</div>
			<div class="text_block" style="margin-right: 20px;">
				Покупателей заинтересованных в судах, предложенных на нашем сайте, просим прислать официальный запрос, с указанием реквизитов компании, фамилии и должности лиц, ответственных за покупку и контактную информацию. Если Вы не нашли на нашем сайте флот необходимый для покупки, можете прислать нам заявку с характеристиками требуемого судна и мы 
			</div>
			<div class="text_block">
				поможем в его поиске и приобретении.<br />Представителям банков и оценочных организаций мы окажем возмездное содействие в услуге по оценке флота.
			</div>
		</div>
	</div>
</div>