<div class="wrap">
	<div class="wrap-stat">
		<div class="footer-left">
			<%= link_to image_tag('logo.png', {:title=>"Флот, яхты, баржи, корабли, танкеры, паромы, катера, плавбазы. продажа / покупка. Санкт-Петербург.", :alt=>"продажа флота", :width => "163"}), refinery.root_path %>
			<div id="footer-contact">
				<div id="cell-foot"><%= image_tag('phone-icon-light.png') %><span> +7 921 758 7777</span></div>
				<div id="mail-foot"><%= image_tag('mail-icon-light.png') %><span> <%= mail_to('zaliv@bk.ru', 'zaliv@bk.ru') %></span></div>
				
				<div id="counters">
					<div id="liveinternet">
						<!--LiveInternet counter--><script type="text/javascript"><!--
						document.write("<a href='//www.liveinternet.ru/click' "+
						"target=_blank><img src='//counter.yadro.ru/hit?t14.12;r"+
						escape(document.referrer)+((typeof(screen)=="undefined")?"":
						";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
						screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
						";"+Math.random()+
						"' alt='' title='LiveInternet: показано число просмотров за 24"+
						" часа, посетителей за 24 часа и за сегодня' "+
						"border='0' width='88' height='31'><\/a>")
						//--></script><!--/LiveInternet-->
					</div>
					<div id="metrica">
						<!-- Yandex.Metrika counter -->
						<script type="text/javascript">
						    (function (d, w, c) {
						        (w[c] = w[c] || []).push(function() {
						            try {
						                w.yaCounter33242200 = new Ya.Metrika({
						                    id:33242200,
						                    clickmap:true,
						                    trackLinks:true,
						                    accurateTrackBounce:true
						                });
						            } catch(e) { }
						        });
					
						        var n = d.getElementsByTagName("script")[0],
						            s = d.createElement("script"),
						            f = function () { n.parentNode.insertBefore(s, n); };
						        s.type = "text/javascript";
						        s.async = true;
						        s.src = "https://mc.yandex.ru/metrika/watch.js";
					
						        if (w.opera == "[object Opera]") {
						            d.addEventListener("DOMContentLoaded", f, false);
						        } else { f(); }
						    })(document, window, "yandex_metrika_callbacks");
						</script>
						<noscript><div><img src="https://mc.yandex.ru/watch/33242200" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
						<!-- /Yandex.Metrika counter -->
					</div>
				</div>

				<p><%= t('.copyright', :year => Time.now.year, :site_name => Refinery::Core.site_name) %></p>
			</div>
		</div>
		<div class="footer-mid">
			<div class="mid-wrap">
				<%= image_tag('river_reg.png') %>
				<div>
					<%= t('.river').html_safe %>
				</div>
			</div>
		</div>
		<div class="footer-mid">
			<div class="mid-wrap">
				<%= image_tag('lloyds.png') %>
				<div>
					<%= t('.lloyds').html_safe %>
				</div>
			</div>
		</div>
		<div class="footer-mid">
			<div class="mid-wrap">
				<%= image_tag('vetus.png', :style => "padding:19px 0;") %>
				<div>
					<%= t('.vetus').html_safe %>
				</div>
			</div>
		</div>
		<div class="footer-mid">
			<div class="mid-wrap">
				<%= image_tag('sea_reg.png') %>
				<div>
					<%= t('.sea').html_safe %>
				</div>
			</div>
		</div>
		<div class="footer-right">
			<%= link_to image_tag('twitter-icon.png', :title=>"Marinerus в твиттере"), "https://twitter.com/marinerus_" %>
			<%= link_to image_tag('vk-icon.png', :title=>"Marinerus Вконтакте"), "http://vk.com/marinerus" %>
			<%= link_to image_tag('fb-icon.png', :title=>"Marinerus на Фэйсбуке"), "http://facebook.com/marinerus" %>
			<%#= link_to image_tag('insta-icon.png', :title=>"Marinerus в Инстаграмме"), refinery.root_path %>
			<%#= link_to image_tag('gplus-icon.png', :title=>"Marinerus в Google+"), refinery.root_path %>
		</div>
	</div>
</div>