<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<meta charset='<%= Rails.application.config.encoding %>' />
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
<% if @ship.present? %>
	<title><%= @ship.info %> - Marinerus.</title>
	<%= raw %(<meta name="description" content="#{@ship.info}. Updated at #{@ship.updated_at}" />) -%>
<% else %>
	<% if @project.present? %>
		<title><%= @project.title %> - Marinerus.</title>
		<%= raw %(<meta name="description" content="#{@project.title}. Updated at #{@project.updated_at}" />) -%>
		<% else %>
			<title><%= browser_title(yield(:title)) %></title>
			<%= raw %(<meta name="description" content="#{@meta.meta_description}" />) if @meta.meta_description.present? -%>
	<% end %>
<% end %>

<%= raw %(<link rel="canonical" content="#{@canonical}" />) if @canonical.present? -%>
<%= csrf_meta_tags if Refinery::Core.authenticity_token_on_frontend -%>
<%= yield :meta %>

<%= stylesheet_link_tag "application" %>

<%= yield :stylesheets %>

<%= render '/refinery/google_analytics' %>

<%= javascript_include_tag 'modernizr-min' %>
