<% Globalize.locale.to_s=="ru" ? is_ru = true : is_ru = false %>


<% if is_ru %>
	<p>Добрый день, <%= @resource.email %>!</p>

	<p>Кто-то заросил смену пароля на сайте <%= link_to "Marinerus", refinery.root_path %>. Вы можете это сделать по ссылке ниже.</p>

	<p><%= link_to 'Сменить пароль', refinery.edit_client_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

	<p>Если запрос отправили не вы, то просто проигнорируйте данное сообщение.</p>


<% else %>
	<p>Hello <%= @resource.email %>!</p>

	<p>Someone has requested a link to change your password. You can do this through the link below.</p>

	<p><%= link_to 'Change my password', refinery.edit_client_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

	<p>If you didn't request this, please ignore this email.</p>
	<p>Your password won't change until you access the link above and create a new one.</p>
<% end %>






